<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net451" />
  <package id="Selenium.Automation.Framework" version="0.0.1.2" targetFramework="net451" />
  <package id="Selenium.RC" version="2.43.1" targetFramework="net451" />
  <package id="Selenium.Support" version="2.43.1" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.43.1" targetFramework="net451" />
  <package id="Selenium.WebDriver.Extensions" version="0.10" targetFramework="net451" />
  <package id="Selenium.WebDriver.Mono" version="2.32.1" targetFramework="net451" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.43.1" targetFramework="net451" />
</packages>